<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="recstation.lkk.com.recstation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainTabActivity"/>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".FindpwdActivity">
        </activity>
        <activity android:name=".SetpwdActivity">
        </activity>
        <activity android:name=".GonggaoDetailActivity">
        </activity>
        <activity android:name=".RecdetailActivity">
        </activity>
        <activity android:name=".ScanActivity">
        </activity>
        <activity android:name=".SelectRecTypeActivity">
        </activity>
        <activity
            android:name=".AdressListActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".AddAdressActivity">
        </activity>
        <activity android:name=".ZhoubianActivity">
        </activity>
        <activity android:name=".MypointActivity">
        </activity>
        <activity android:name=".MyDingdanActivity">
        </activity>
        <activity android:name=".DingdanDetailActivity">
        </activity>
    </application>

</manifest>